@font-face{
    src: url(LexendDeca-VariableFont_wght.ttf);
    font-family: Lexend;}
@font-face{
    src: url(Inter-VariableFont_opsz\,wght.ttf);
    font-family: inter;}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
--Navy-950: hsl(233, 47%, 7%);
--Blue-950: hsl(244, 37%, 16%);
--Purple-500: hsl(277, 64%, 61%);

--White-100: hsl(0, 0%, 100%);
--White-200: hsla(0, 0%, 100%, 0.75);
--White-300: hsla(0, 0%, 100%, 0.6);
}
body{
    border: 1px solid white;
    display: flex;
    background-color:hsl(233, 47%, 7%) ;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
.container{
    border-radius: 5px;
    display: flex;
    margin: 100px;
    background-color: hsl(244, 37%, 16%);
    justify-content: flex-end;
    height: fit-content;
    width: fit-content;
    width: 1000px;
}
.details{
    display: flex;
    flex-direction: column;
    color: white;
    width: 50%;
    padding: 65px;
    justify-content: space-between;
}
h1{
    font-family: inter;
    font-weight: 700;
}
.pp{
    margin-bottom: 40px;
    font-family: inter;
    font-weight: 400;
    font-size: 13.5px;
    color: var(--White-300);
    line-height: 2;
    width: 340px;
}
.stats{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 310px;
}
.stat h3{
    margin-bottom: 10px;
    font-family: inter;
}
.stat p{
    font-family: lexend;
    font-weight: 400;
    font-size: 0.6875rem;
    color: var(--White-300);
}
.highlight{
    color:hsl(277, 64%, 61%) ;
}
.picture{
    width: 50%;
    overflow: hidden;
    position: relative;
}
img{
    display: block;
    width: 100%;
    height: 100%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.picture::after{
    content: "";
    position: absolute;
    inset: 0;
    background: hsl(277, 64%, 61%);
    opacity: 0.5;
}
@media(max-width 375px){
    
}